/** RESET **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

button,
a {
    all: unset;
}

/** COMMON**/

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/** HEADER **/

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-bar li {
    text-transform: uppercase;
    font-weight: bold;
    padding: 50px 0;
}

.menu-active {
    position: relative;
    color: #0e7cf9;
}

.menu-active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    border-bottom: 5px solid #0e7cf9;
}

/** MAIN **/

main {
    background-color: #1c1c1c;
    color: #fff;
    padding: 50px 0;
    font-size: 20px;
    font-weight: bold;
}

/** FOOTER **/
/**FOOTER TOP**/

.footer-top {
    background-image: url(./assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-footer-top {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background-image: url(./assets/img/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
}

.list-link li:not(.title-list-link) {
    margin-bottom: 10px;
}

.title-list-link {
    color: #fff;
    margin: 25px 0;
    font-size: 20px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    max-width: 500px;
    flex-wrap: wrap;
    color: #959495;
}

/**FOOTER BOTTOM**/

.footer-bottom {
    background-color: #303030;
    padding: 20px 0;
}

.container-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sign-up {
    color: #fff;
    border: 2px solid #0e7cf9;
    padding: 10px;
    cursor: pointer;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-links .text-follow {
    color: #0e7cf9;
    font-weight: bold;
}

.icon-links {
    background-color: #0e7cf9;
}

.container-icon-links {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.card {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
}

.card-text {
    text-transform: uppercase;
    white-space: nowrap;
}